.drop-container {
    padding: 10px;
    /*border: 1px solid #ccc;*/
}

.drop-box {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
    width: 80%;
    margin: 0 auto;
}
